.empty-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #252525;
}

.empty-page-container {
  width: 100%;
}

.empty-page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.empty-page-title-text {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252525;
}

.empty-page-main-text {
  margin-top: 43px;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.empty-page-sub-text {
  margin-top: 12px;
  margin-bottom: 36px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
