:root {
  --primaryLight: #757ce8;
  --primaryMain: #3f50b5;
  --primaryDark: #002884;
  --primaryContrasttext: #fff;
  --secondaryLight: #ff7961;
  --secondaryMain: #f44336;
  --secondaryDark: #ba000d;
  --deleteRed: #e63846;
  --secondaryContrasttext: #000;
  --borderColor: #e5e5e5;
  --hovercolor: #f5f5f5;
  --miniNavHoverColor: #e7eaee;
  --black: black;
  --light-gray: #f8f8f8;
  --pageBackground: rgb(244, 245, 247);
  --formColor: #fff;
  --cardBackground: #fff;
  --inputBorder: #d4d4d4;
  --inputBgColor: #f8f9f9;
  --inputBgColorLogin: #fff;
  --sectionContainerColor: #dcdcdc;
  --tagInputSelected: #6a7c91;
  --titleContainer: #5e5e5e;
  --descriptionContainer: #949494;
  --menuTextColor: #363741;
  --menuTextColorHoverIcon: #09355d;
  --rfpDetailsColor: #f64338;
  --RfpTableHeader: rgb(108, 108, 108);
  --titleColor: #5e5e5e;
  --statusActive: rgba(39, 174, 96, 0.2);
  /* --statusClosed: #F96A10; */
  --statusClosed: rgba(249, 106, 16, 0.2);
  --statusDraft: rgba(2, 136, 209, 0.2);
  --statusActiveFontColor: #27AE60;
  --statusClosedFontColor: #F96A10;
  --statusDraftFontColor: #0288d1;
  --cellTextColor: #6c6c6c;
  --paragraphTexts: #666666;
  --linkColor: #007aff;
  --accordionDisabledState: #fafafb;
  --cellHoverColor: #c8cfd8;
  --titleColor: #494949;
  --textLight: #9a9ba0;
  --alertErrorBackgroundColor: #fdf3f5;
  --helperText: #dc1f3f;
  --disabledInputColor: #464646;
  --disabledButtonColor: #f7f7f7;
  --disabledButtonBackgroundColor: #bdbdbd;
  --alertSuccessColor: #028480;
  --alertSuccessBackgroundColor: #f2fbfa;
  --alertErrorColor: #dc1f3f;
  --alertErrorBackgroundColor: #fdf3f5;
  --veryDarkGray: #252525;
  --proposalCellTitle: #afafaf;
  --proposalCardBorder: rgba(173, 173, 173, 0.664);
  --rowTitle: #e3e3e3;
  --borderProposalCell: #e3e3e3;
  --badgeSuccessText: #138741;
  --badgeCloseText: #f03548;
  --badgeCloseBackground: #feeaee;
  --breadcrumbLinkColor: #1c3558;
  --dashboardAccountBackgroundColor: #fff;
  --dashboardAccountSectionTitleColor: #6c6c6c;
  --toggleDrawerButtonColor: #3d3d3d;
  --toggleDrawerButtonBackgroundColor: #fff;
  --toggleDrawerButtonColorHover: #fff;
  --toggleDrawerButtonBackgroundColorHover: #3d3d3d;
  --favoriteIconColor: #fed736;
  --boxShadow: rgba(193, 193, 193, 0.5);
  --sectionBorder: #e3e3e3;
  --rfpDetailsTableRowBorderColor: #e8e8e8;
  --rfpDetailsTableRowKeyColor: #afafaf;
  --rfpDetailsTableRowValueColor: #252525;
  --seeMoreColor: #15355a;
  --rfpAttachmentInfoBackgroundColor: rgba(0, 0, 0, 0.5);
  --rfpAttachmentInfoNameColor: #fff;
  --rfpAttachmentInfoNameBackgroundImage: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    #000 109%
  );
  --bannerBackgroundColor: #7b7b7b;
  --publicCompanyPageBackgroundColor: #f5f6f8;
  --categoriesColor: #686868;
  --labelColor: #afafaf;
  --registrationFormText: #343c46;
  --usertypeBorderColor: #929292;
  --usertypeColor: #696b6d;
  --usertypeActiveColor: #15355a;
  --navLinkColor: #6c6c6c;
  --navLinkActiveColor: #212121;
  --tableRowTitleColor: #929292;
  --tableOwnerTextBorderColor: #c9c9c9;
  --fontFamily: 'Lato', sans-serif;
  --lightGraysoft: #dee2e8; 
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Lato', Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}


.swipeable-attachment h2 {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6c6c6c;
  margin-bottom: 20px;
}

.swipeable-attachment-wrapper {
  display: flex;
  gap: 14px;
}

.swipeable-attachment-wrapper .swiper {
  margin: 0;
}

.swipeable-attachment .swiper-wrapper .swiper-slide:hover > button {
  opacity: 1;
}

.swipeable-attachment .swiper-wrapper .swiper-slide > button {
  opacity: 0;
  position: absolute;
  z-index: 10000;
  right: 4px;
  top: 4px;
  padding: 4px;
}

.swipeable-attachment .swiper-wrapper .swiper-slide > button svg {
  font-size: 20px;
}

.swipeable-attachment .swiper-wrapper .swiper-slide {
  width: 165px;
  height: 91px;
  position: relative;
}

.swipeable-attachment .swiper-wrapper .swiper-slide video,
.swipeable-attachment .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.swipeable-attachment .swiper-wrapper .swiper-slide video:fullscreen {
  object-fit: contain;
}

.swipeable-attachment .MuiDropzoneArea-root {
  min-height: inherit;
  border-width: 3px;
  width: 165px;
  height: 91px;
  flex-shrink: 0;
}

.swipeable-attachment .MuiDropzoneArea-root .MuiDropzoneArea-textContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  gap: 2px;
}

.swipeable-attachment .MuiDropzoneArea-root .MuiDropzoneArea-textContainer .MuiDropzoneArea-text {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #494949;
}

.swipeable-attachment .MuiDropzoneArea-root .MuiDropzoneArea-textContainer .MuiSvgIcon-root {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #494949;
}

.MultiAttachment-link {
  color: #007aff;
}


.verify-form {
  width: 100%;
  height: 100%;
  background-color: rgb(244, 245, 247);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

/* @include phone {
  max-width: none;
} */
.verify-form-container {
  width: 100%;
  max-width: 525px;
  height: 630px;
  margin-top: 70px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.verify-form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.verify-form-title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 139px;
  color: #252525;
}
.verify-form-subtext {
  font-size: 14px;
  line-height: 1.21;
  padding-top: 16px;
  padding-bottom: 29px;
  letter-spacing: 0;
  color: #252525;
}
.verify-form-button {
  width: 311px;
  height: 44px;
  border-radius: 2px;
}
.verify-form-code-container {
  display: flex;
  flex-direction: row;
}
.verify-form-link-container {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
}
.verify-form-return-container {
  padding-top: 169px;
  padding-bottom: 32px;
}
.verify-form span {
  letter-spacing: 0;
}
.verify-form-code-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 31px;
}
.verify-form-code-input .character {
  width: 34px;
  height: 54px;
  line-height: 44px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  color: #252525;
  background-color: #f8f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  align-items: center;
}
.verify-form-code-input .character--selected {
  border: 2px solid #15355a;
}

